:root {
    
    --monserrat:'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --cowboy: 'Road Rage', cursive;
    --fondo:#383414;
    --buton:#402e2e;
    --info: 'Roboto Slab', serif;
    --start:#654715;
    --add:#34300f;
    --header:#453309e8;
    --again: #886108;
    --leave: #870d0d;
    --background: #c2b79fa9;
    --back_correct:#5a456feb;
    --back_incorrect:#62171ff3;
    --label:#52115d;
}

body {
    font-family: var(--cowboy);
}

footer{
    background-color: var(--fondo);
}

