:root {
    
    --monserrat:'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --cowboy: 'Road Rage', cursive;
    --fondo:#383414;
    --buton:#402e2e;
    --info: 'Roboto Slab', serif;
    --start:#654715;
    --add:#34300f;
}

body {
    font-family: var(--cowboy);
}

footer{
    background-color: var(--fondo);
}

