:root {
    
    --monserrat:'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --cowboy: 'Road Rage', cursive;
    --fondo:#383414;
    --fondo_letters:rgba(61, 37, 24, 0.875);
    --button:#402e2e;
    --info: 'Roboto Slab', serif;
    --start:#654715;
    --add:#34300f;
    --header:#453309e8;
    --again: #886108;
    --leave: #870d0d;
    --background: #9294a19a;
    --back_correct:#2e4f7cd6;
    --back_incorrect:rgba(90, 18, 18, 0.938);
    --label:#52115d;
    --excla: rgb(31, 21, 2);

}

body {
    font-family: var(--cowboy);
}

footer{
    background-color: var(--fondo);
}

