*{
    margin: 0;
    padding: 0;
}


/*  Home
=============================================*/
.header_inicio{
    height: 60px;
    width: 100%;
    position: absolute;
    top:0;
    background-color: black;
}

html, body {
    height: 100%;
    width: 100%;
    background: black url(../img/portada.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

footer{
    position: absolute;
    height:50px;
    width:100%;
    bottom:0;
    left:0; 
    display: flex;
    align-items: center;
}

.datos{
    color: white;
    font-family: var(--info);
    font-size: 18px;
    text-align: center;
    padding-left: 8%;
}

.contacto{
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    padding-left: 60%;

}

.contacto img{
    width: 40px;
    margin-right: 20px;
}

/*  Dimensiones de tablet / celular
=============================================*/

@media (max-width: 900px){
    body{
        background-image: url("../img/portada_tablet.jpg");
    }
    .contacto{
        padding-left: 40%;
    }
}

@media (max-width:600px){
    body{
        background-image: url("../img/portada_cel.jpg");
    }
    footer{
        display:table;
    }
    .datos{
        padding:0;
    }

    .contacto{
        padding: 0;
        justify-content: center;
    }
    .contacto img {
        margin-right: 15px;
        margin-top: 5px;
    }
}
