html {
    height: 100vh;
}

.home{
    display: block;
}

.container{
    display: grid;
    grid-template: 
    "header" 100px
    "footer" auto;
}

body{
    background-image:url("../imagenes/portada.jpg");
    background-size:cover;
    height:90hv;

}

footer{
    position: absolute;
    height: 10%;
    width:100%;
    bottom:0;
    left:0; 
    display: flex;
    align-items: center;
}

.datos{
    color: white;
    font-family: var(--info);
    font-size: 18px;
    text-align: center;
    padding-left: 8%;
}

.contacto{
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    padding-left: 60%;

}

.contacto img{
    width: 40px;
    margin-right: 20px;
}

/*          Dimensiones de tablet / celular
=============================================*/

@media (max-width: 900px){
    body{
        background-size: cover;
    }
    .contacto{
        padding-left: 40%;
    }
}

@media (max-width:600px){
    footer{
        display:table;
    }
    .datos{
        padding:0;
    }

    .contacto{
        padding: 0;
        justify-content: center;
    }
    .contacto img {
        margin-right: 15px;
        margin-top: 5px;
    }
}